{% extends 'base.html' %}

{% block title %}Amazon Review Sentiment Analysis{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1>Amazon Review Sentiment Analysis</h1>
    <!-- <p class="lead">Analyze the sentiment of reviews with ease!</p> -->
</div>

<div class="mt-4" style="padding-top: 40px">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Model Overview</h3>
                    <p class="card-text text-center">Our sentiment analysis model is built using a pre-trained distilBeRT model and fine-tuned on a large collection of labeled Amazon reviews. 
                        The model analyzes review text to determine whether the sentiment is positive or negative. 
                        With this app, you can feed it a product url from Amazon and it will tell you what percent of the reviews were positive.</p>
                    <div class="row text-center mt-4">
                        <div class="col-md-4">
                            <h5>Model Type</h5>
                            <p>distilBeRT</p>
                        </div>
                        <div class="col-md-4">
                            <h5>F1-Score</h5>
                            <p>0.975</p>
                        </div>
                        <div class="col-md-4">
                            <h5>Model Accuracy</h5>
                            <p>0.965</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
